# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub/
.pub-cache/

# Android
android/app/build
android/.gradle

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
env/
*.egg-info/

# Azure Functions
local.settings.json
